<footer class="footer bg-dark text-white py-4 w-100">
    <div class="container d-flex justify-content-center align-items-center">
        <p class="m-0 text-center">
            © @DateTime.Now.Year Rock Lab Dev — Todos los derechos reservados.
        </p>
    </div>
</footer>
